<div class="container">
    <div class="row pantalla">
        <div class="col">
            <input type="text" class="pantalla" id="pantalla" value="{{ pantalla }}" readonly>
        </div>
        <div class="col">
            <input type="text" class="resultado" id="resultado" value="{{ resultado }}" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="nueve()" class="numero">9</button>
            <button (click)="ocho()" class="numero">8</button>
            <button (click)="siete()" class="numero">7</button>
        </div>

        <div class="col">
            <button (click)="seis()" class="numero">6</button>
            <button (click)="cinco()" class="numero">5</button>
            <button (click)="cuatro()" class="numero">4</button>

        </div>
        <div class="col">
            <button (click)="tres()" class="numero">3</button>
            <button (click)="dos()" class="numero">2</button>
            <button (click)="uno()" class="numero">1</button>
        </div>
        <div class="col">
            <button (click)="punto()" class="numero">.</button>
            <button (click)="cero()" class="numero">0</button>
            <button (click)="dobleCero()" class="numero">00</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="borrar()" class="operacion">DEL</button>
        </div>
        <div class="col">
            <button (click)="dividir()" class="operacion">/</button>
        </div>
        <div class="col">
            <button (click)="multiplicar()" class="operacion">X</button>
        </div>
        <div class="col">
            <button (click)="restar()" class="operacion">-</button>
        </div>
        <div class="col">
            <button (click)="sumar()" class="operacion">+</button>
        </div>
        <div class="col">
            <button (click)="igual()" class="operacion">=</button>
        </div>
    </div>
</div>
