<div class="container">
    <div class="row pantalla">
        <div class="col">
            <input type="text" class="pantalla" id="pantalla">
        </div>
        <div class="col">
            <input type="text" class="resultado" id="resultado" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button onclick="nueve()" class="numero">9</button>
            <button onclick="ocho()" class="numero">8</button>
            <button onclick="siete()" class="numero">7</button>
        </div>

        <div class="col">
            <button onclick="seis()" class="numero">6</button>
            <button onclick="cinco()" class="numero">5</button>
            <button onclick="cuatro()" class="numero">4</button>

        </div>
        <div class="col">
            <button onclick="tres()" class="numero">3</button>
            <button onclick="dos()" class="numero">2</button>
            <button onclick="uno()" class="numero">1</button>
        </div>
        <div class="col">
            <button onclick="punto()" class="numero">.</button>
            <button onclick="cero()" class="numero">0</button>
            <button onclick="dobleCero()" class="numero">00</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button onclick="borrar()" class="operacion">DEL</button>
        </div>
        <div class="col">
            <button onclick="dividir()" class="operacion">/</button>
        </div>
        <div class="col">
            <button onclick="multiplicar()" class="operacion">X</button>
        </div>
        <div class="col">
            <button onclick="restar()" class="operacion">-</button>
        </div>
        <div class="col">
            <button onclick="sumar()" class="operacion">+</button>
        </div>
        <div class="col">
            <button onclick="igual()" class="operacion">=</button>
        </div>
    </div>
</div>
